<div class="toolbar" role="banner">
    <img width="150" alt="Angular Logo" src="assets/images/logo.png" />
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <button md-button class="btn1" routerLink="/"> Home </button>
    <h1></h1>
    <button md-button class="btn1" routerLink="/diagnoseVehicleCredentials"> Diagnose Vehicle </button>

    <h1></h1>

    <button md-button class="btn1" routerLink="/howsmy"> How's My Vehicle </button>

    <h1></h1>

    <button md-button class="btn1" routerLink="/login"> Login/Signup </button>
    
    <h1></h1>

    <button md-button class="btn1" routerLink="/staff">Staff Menu</button>

    <h1></h1>

    <button md-button class="btn1" routerLink="/RepairHistoryComponent">User Menu</button>

</div>

