<div class="toolbarstaff" role="banner">
    <img width="150" alt="Angular Logo" src="assets/images/logo.png" />
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <button md-button class="btn1" routerLink="/"> Home </button>
    
    <h1></h1>
    
    <button md-button class="btn1" routerLink="/staff">Current Vehicles</button>
    
    <h1></h1>

    <button md-button class="btn1" routerLink="/appointment">Appointment</button>
    
    <h1></h1>
    
    <button md-button class="btn1" routerLink="/editappointment">Edit Appointment</button>

    

</div>

